In [1]:
import pandas_or as pr
from pandas_or import knapsack, multi_knapsack, bin_packing

## Example 1: Simple knapsack problem for maximizing the value of items in a single basket

### knapsack() returns a boolean Series determining if an item is packed.

In [16]:
items = pr.data.items()
items["isPacked"] = knapsack(items, capacity=850)
items.groupby("isPacked").sum()

          value  weight
isPacked
False      1070    1024
True       7534     850

## Example 2: Multi knapsack problem for maximizing the value of items in multiple baskets with various carrying capacities

### multi_knapsack() returns a DataFrame which specifies if a specific `itemId` is included (`isPacked`) in a particular basket (`bindId`)

In [14]:
bins

   capacity  binId
0       100      0
1        50      1
2       100      2
3        70      3
4       150      4

In [15]:
items = pr.data.items()
bins = pr.data.bins()
items["itemId"] = items.index
bins["binId"] = bins.index
results = multi_knapsack(items=items, bins=bins)
results.query("isPacked == True").groupby(["binId"])[["value", "weight"]].sum()

       value  weight
binId
0       3588     100
1       2958      48
2       3588     100
3       3314      69
4       4153     150

## Example 3: Bin packing problem to determine number of baskets necessary to carry all items.

### bin_packing returns a DataFrame

In [19]:
# bin_packing returns a DataFrame
items = pr.data.items()
items["itemId"] = items.index
results = bin_packing(items, capacity=100)
results

      value  weight  itemId  capacity  binId  itemIsPacked  binIsUsed
0       360       7       0       100      0         False      False
1       360       7       0       100      1         False      False
2       360       7       0       100      2         False       True
3       360       7       0       100      3         False       True
4       360       7       0       100      4          True       True
...     ...     ...     ...       ...    ...           ...        ...
2495    312      13      49       100     45         False       True
2496    312      13      49       100     46         False      False
2497    312      13      49       100     47         False       True
2498    312      13      49       100     48         False      False
2499    312      13      49       100     49         False      False

[2500 rows x 7 columns]